In [1]:
import pandas_datareader.data as web

In [3]:
class(range(4))

SyntaxError: invalid syntax (<ipython-input-3-7cb1cbe50745>, line 1)

In [2]:
from  datetime import datetime
start = datetime(2017,1,1)
end = datetime(2017,6,30)

In [7]:
aapl = web.DataReader('AAPL','iex',start,end)
aapl.head()

                open      high       low     close    volume
date
2016-09-01  101.5609  102.1924  101.0633  102.1254  26701523
2016-09-02  103.0536  103.3407  102.2116  103.0823  26802450
2016-09-06  103.2450  103.6277  102.8718  103.0536  26880391
2016-09-07  103.1780  104.0679  102.4508  103.6851  42364328
2016-09-08  102.6230  102.6422  100.6997  100.9676  53002026

In [23]:
data = web.DataReader(['GDP','CPIAUCSL','FEDFUNDS'], 'fred', '1990-01-01', '2017-01-01')
data.head()

                 GDP  CPIAUCSL  FEDFUNDS
DATE
1990-01-01  5872.701     127.5      8.23
1990-02-01       NaN     128.0      8.24
1990-03-01       NaN     128.6      8.28
1990-04-01  5960.028     128.9      8.26
1990-05-01       NaN     129.1      8.18

In [24]:
data.to_excel('data.xls', sheet_name='FRED')