In [76]:
import pandas as pd 
import numpy as np
districts = ["台北","台北","台南","台南","高雄"]
price = [1,2,3,4,5]
age = [10,20,30,40,50]
type(districts)
data = []
for i in range(5):
    data +=[[districts[i],price[i],age[i]]]

print(data)

#描述性統計
test = pd.DataFrame(data,index = ["buyer1","buyer2","buyer3","buyer4","buyer5"],columns = ["districts","price","age",])
print(test)
test.agg(['mean','median','max','min','var','std','skew','kurtosis'])

[['台北', 1, 10], ['台北', 2, 20], ['台南', 3, 30], ['台南', 4, 40], ['高雄', 5, 50]]
       districts  price  age
buyer1        台北      1   10
buyer2        台北      2   20
buyer3        台南      3   30
buyer4        台南      4   40
buyer5        高雄      5   50

         districts     price         age
max             高雄  5.000000   50.000000
min             台北  1.000000   10.000000
mean           NaN  3.000000   30.000000
median         NaN  3.000000   30.000000
var            NaN  2.500000  250.000000
std            NaN  1.581139   15.811388
skew           NaN  0.000000    0.000000
kurtosis       NaN -1.200000   -1.200000

In [89]:
data_sch = pd.crosstab(test.districts,test.price)
data_sch = data_sch.div(data_sch.sum(1),axis = 0)

#test.price.groupby(test.districts).agg(['mean']).plot(kind='barh')
plot(test.price,test.kind='scatter')

ValueError: plot kind 'scatter' can only be used for data frames